#sidebar {
  top: 67px;
  max-height: 900px;
  transition: max-height .3s, width .3s;

  &.collapsed {
    max-height: 140px; // 124px - to fit 3 icons
    transition: max-height .3s .25s, width .3s;
    width: 43px;
  }
}
