#map-defaults-settings-form {
  #base-layer-section {
    margin-bottom: 30px;
    margin-top: 30px;

    h4 {
      color: #525252;
    }
  }

  #overlay-layers-section {
    margin-bottom: 30px;
    margin-top: 30px;

    h4 {
      color: #525252;
    }
  }

  #units-section {
    margin-bottom: 30px;
    margin-top: 30px;

    h4 {
      color: #525252;
    }
  }
}
