.leaflet-control-layers {
  label {
    display: flex;
    justify-content: start;
    margin-left: 5px;

    &:last-child {
      margin-bottom: 3px;
    }

    input.leaflet-control-layers-selector {
      margin-right: 3px;
      top: 2px;
    }
  }
}
