@import "./marker.scss";
@import "./popup.scss";
@import "./zoom_control.scss";
@import "./layers_control.scss";

#main-map {
  height: 100vh;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100vw;
}
