.marker-icon {
  align-items: center;
  border-radius: 32px;
  display: flex !important;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  height: 29px;
  width: 29px;

  &.default {
    background-color: #f5e180;
    box-shadow: inset 0 0 3.5px 3px #e6bd6b, 0 0 7px 1px #fba418;
    color: #4a4a4a;
  }

  &.warning {
    background-color: #ffd402;
    box-shadow: inset 0 0 5px 3px #efaf31, 0 0 7px 1px #ff9d00;
    color: #4a4a4a;
  }

  &.danger {
    background-color: #ea8e30;
    box-shadow: inset 0 0 4px 4px #e86916, 0 0 9px 2px #ef650c;
    color: #3a3939;
  }

  &.critical {
    background-color: #ef1717;
    box-shadow: inset 0 0 5px 5px #cc4825, 0 0 7px 1px #a20505;
    color: #ffefb4;
  }
}

// !important is needed here because library sets default marker-icon styles dynamically on each element
.leaflet-marker-icon {
  height: 32px !important;
  margin-left: -16px !important;
  margin-top: -23px !important;
  width: 32px !important;
}
