.marker-icon {
  align-items: center;
  background-color: #ffd12b;
  border-radius: 32px;
  box-shadow: inset 0 0 2px 3px #ffaa00, 0 0 7px 1px #FFA10A;
  color: #4a4a4a;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  height: 29px;
  width: 29px;
}

// !important is needed here because library sets default marker-icon styles dynamically on each element
.leaflet-marker-icon {
  height: 32px !important;
  margin-left: -16px !important;
  margin-top: -23px !important;
  width: 32px !important;
}
