.modal-dialog {
  margin-top: 100px;

 .submit-button-busy {
    align-items: center;
    display: flex;
    justify-content: center;

    .button-loading-spinner {
      margin-right: 7px;
    }
  }
}
