#sidebar {
  top: 67px;
  max-height: 900px;
  transition: max-height .3s, width .3s;

  .sidebar-tabs {
    ul {
      li.disabled {
        pointer-events: none;
      }
    }
  }

  .sidebar-pane {
    padding-left: 0;
    padding-right: 0;
  }

  &.collapsed {
    max-height: 175px;
    transition: max-height .3s .25s, width .3s;
    width: 42px;
  }
}

@import "./map_sidebar_tabs/geo_point_details_tab";
@import "./map_sidebar_tabs/measurements_cluster_details_tab";
@import "./map_sidebar_tabs/measurement_creation_tab";
@import "./map_sidebar_tabs/map_settings_tab";
