.settings-tabs {
  margin-right: 30px;
  min-width: 185px;
  padding-right: 24px;
  padding-top: 6px;
  width: 25%;

  &__tabs-list {
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

    li.tab {
      border-bottom: 1px solid #eaecef;
      color: #1b1f23;
      cursor: pointer;
      display: block;
      padding: 8px 16px;

      &:hover {
        background-color: #f6f8fa;
      }

      &:last-child {
        border-bottom: none;
      }

      &.active {
        border-left: 2px solid orange;
        padding-left: 14px;    // needed to prevent text moving right when border shows up
        pointer-events: none;
      }
    }
  }
}
