/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";

// @import "alertify";
// @import "alertify/default";
// @import "alertify/bootstrap";

@import "react-block-ui/style.css";
@import "loaders.css/loaders.min.css";
@import "react-leaflet-markercluster/dist/styles.min.css";
@import "~react-datepicker";

// components
@import "./components/admin_panel";
@import "./components/auth";
@import "./components/block_ui";
@import "./components/toast_notification";
@import "./components/common";
@import "./components/dropdown";
@import "./components/map/map";
@import "./components/modals/modal";
@import "./components/navbar";
@import "./components/settings";
@import "./components/sidebars/map_sidebar";

:focus {
  outline: none !important;
}

input {
  &[type="checkbox"], &[type="radio"] {
    accent-color: orange;
  }
}

.form-control {
  &:focus {
    border-color: orange;
    box-shadow: 0 0 0 0.05rem rgb(253 126 20 / 25%); // 'orange' with 25% opacity
  }
}

.sidebar .sidebar-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
