@import "sidebars/admin_panel_sidebar.scss";

.admin-panel-index {
  .admin-panel-title {
    margin-top: 10px;
    text-align: center;
  }

  .tab-panel {
    &__selected {
      border: 1px solid #eaecef;
      border-radius: 5px;
      margin-top: -17px;
      margin-left: -15px;
      padding: 15px;
    }
  }
}
