.full-page-cover {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99;
}

.full-page {
  height: 100vh;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100vw;
}

a.secondary-link {
  color: #84888c;

  &:hover {
    color: #5a6268;
    text-decoration: none;
  }

  &.bold {
    // choose one variant depending on feedback
    font-weight: 600;
    // text-shadow: 0.2px 0.4px #b0b5bb;
  }
}

.form-control {
  &:focus {
    box-shadow: 0 0 0 0.05rem rgba(0, 123, 255, 0.25);
  }
}
