nav.navbar.global-navbar {
  z-index: 100;
}

nav.navbar {
  button#user-dropdown {
    &::after {
      vertical-align: 1px;
    }
  }

  .dropdown-menu {
    left: -60px;
  }

  button.dropdown-header {
    box-shadow: none;
  }

  .btn {
    &:focus {
      box-shadow: 0 0 0 0;
    }

    &#sign-in-button {
      &:hover {
        color: #808488;
      }
    }

    &#sign-up-button {
      box-shadow: inset 0 0 0 1px #3e3e3e;

      &:hover {
        color: #808488;
      }
    }
  }
}
