#sidebar {
  .sidebar-content {
    #map-settings-tab {
      #map-settings-tab-content {
        color: #383838;
        margin-top: 10px;

        .map-settings-section {
          margin-bottom: 20px;
          margin-left: 25px;

          &-header {
            color: #525252;
            font-size: 1.2rem;
            font-weight: 600;
            text-align: left;
          }

          &-body {
            margin-left: 20px;
            margin-top: 10px;
            text-align: left;
          }
        }

        .map-settings-section {
          &:last-child {
            margin-bottom: 0;
          }

          #map-settings-section-units {
            display: flex;
            justify-content: space-between;

            &.form-group {
              margin-bottom: 0;
            }

            .form-label {
              padding: 7px 0;
            }

            #map-settings-units-select {
              margin-right: 7px;
              width: 60%;
            }
          }
        }

        .map-setting-checkbox {
          user-select: none;
        }

        .map-setting-radio {
          user-select: none;
        }

        .react-datepicker__day--in-range {
          background-color: #f1b269;
          border-radius: .3rem;
          color: #fff;
        }

        .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range,
        .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range,
        .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected,
        .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range,
        .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range,
        .react-datepicker__year-text--in-range,
        .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected,
        .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
          background-color: #ff9800;
          border-radius: .3rem;
          color: #fff;
        }
      }
    }
  }
}
